.categoryName {
  position: relative;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.categoryName::after {
  position: absolute;
  content: "";
  bottom: 0;
  height: 3px;
  left: 0;
  width: 0%;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.categoryName:hover ::after {
  position: absolute;
  content: "";
  bottom: 0;
  height: 3px;
  left: 0;
  width: 50%;
  margin: auto;
  transition: all 0.3s ease-in-out;
  background-color: rgb(97, 97, 215);
  cursor: pointer;
}

/* swiper slider styles */
.mySwiper {
  padding-bottom: 50px !important;
}

.mySwiper :global(.swiper-pagination) {
  position: absolute !important;
  bottom: 0 !important;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.mySwiper :global(.swiper-pagination-bullet) {
  width: 12px;
  height: 12px;
  background-color: #cbd5e1;
  opacity: 1;
  margin: 0 !important;
  transition: all 0.3s ease;
  border-radius: 50%;
}

.mySwiper :global(.swiper-pagination-bullet-active) {
  background-color: #2563eb;
  width: 30px;
  border-radius: 6px;
}
