@import "tailwindcss";

@variant dark (&:where(.dark, .dark *));

@layer base {
  * {
    @apply transition-colors duration-300;
  }

  body {
    @apply bg-white text-[#1C274C] dark:bg-[#0B1120] dark:text-gray-100;
  }
}

/* Slider styles */
.custom_slide .swiper-pagination {
  text-align: center;
  width: 100%;
  margin: 0;
  padding: 0;
  display: block;
  position: absolute;
  bottom: 0px !important;
}

@media (min-width: 768px) {
  .custom_slide .swiper-pagination {
    bottom: 20px !important;
  }
}

.custom_slide .swiper-pagination-bullet {
  display: inline-block;
  margin: 0 8px !important;
  background: #d1d5db;
  border: none;
  width: 24px;
  height: 4px;
  border-radius: 4px;
  cursor: pointer;
  opacity: 1;
}

.custom_slide .swiper-pagination-bullet-active {
  background: #3b82f6;
}

/* menu dropdown border */
.custom-bar {
  position: relative;
}

.custom-bar::before {
  content: "";
  position: absolute;
  top: -13px;
  left: 0;
  height: 3px;
  width: 0;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  background-color: #3b82f6;
  transition: width 0.3s ease-in-out;
}

.custom-bar:hover::before {
  width: 100%;
}

/* shop slider cart */
.cardcontent .cardbutton {
  position: absolute;
  bottom: -90px;
  transition: 0.3s ease-in-out;
}

.cardcontent:hover .cardbutton {
  bottom: 90px !important;
  transition: 0.3s ease-in-out;
}

/* best seller cart */
.cartcontent .cardbutton {
  position: absolute;
  right: -50px;
  top: 150px;
  transition: 0.3s ease-in-out;
}

.cartcontent:hover .cardbutton {
  right: 0px !important;
  transition: 0.3s ease-in-out;
}

/* link text styles */

.linkStyles:hover {
  color: #3c50e0;
}

/* Theme Toggle Switch from Uiverse.io */
.switch {
  font-size: 17px;
  position: relative;
  display: inline-block;
  width: 62px;
  height: 35px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0px;
  background: #fff;
  transition: 0.4s;
  border-radius: 30px;
  border: 1px solid #ccc;
}

.slider:before {
  position: absolute;
  content: "";
  height: 1.9em;
  width: 1.9em;
  border-radius: 16px;
  left: 1.2px;
  top: 0;
  bottom: 0;
  margin: auto 0;
  background-color: white;
  box-shadow: 0 2px 5px #999999;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #6888f0;
  border: 1px solid transparent;
}

input:checked + .slider:before {
  transform: translateX(1.5em);
}
