@import "tailwindcss";

/* Slider styles */
.custom_slide .swiper-pagination {
  text-align: center;
  width: 100%;
  margin: 0;
  padding: 0;
  display: block;
  position: absolute;
  bottom: 0px !important;
}

@media (min-width: 768px) {
  .custom_slide .swiper-pagination {
    bottom: 20px !important;
  }
}

.custom_slide .swiper-pagination-bullet {
  display: inline-block;
  margin: 0 8px !important;
  background: #d1d5db;
  border: none;
  width: 24px;
  height: 4px;
  border-radius: 4px;
  cursor: pointer;
  opacity: 1;
}

.custom_slide .swiper-pagination-bullet-active {
  background: #3b82f6;
}

/* menu dropdown border */
.custom-bar {
  position: relative;
}

.custom-bar::before {
  content: "";
  position: absolute;
  top: -13px;
  left: 0;
  height: 3px;
  width: 0;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  background-color: #3b82f6;
  transition: width 0.3s ease-in-out;
}

.custom-bar:hover::before {
  width: 100%;
}

/* shop slider cart */
.cardcontent .cardbutton {
  position: absolute;
  bottom: -90px;
  transition: 0.3s ease-in-out;
}

.cardcontent:hover .cardbutton {
  bottom: 90px !important;
  transition: 0.3s ease-in-out;
}

/* best seller cart */
.cartcontent .cardbutton {
  position: absolute;
  right: -50px;
  top: 150px;
  transition: 0.3s ease-in-out;
}

.cartcontent:hover .cardbutton {
  right: 0px !important;
  transition: 0.3s ease-in-out;
}

/* link text styles */

.linkStyles:hover {
  color: #3c50e0;
}
